.container {
  display: grid;
  grid-template-columns: 100px 100px;
}
#box {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: all ease-in-out 1s;
}
#box2{
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: all ease-in-out 1s 1s;
  margin-top: 10px;
}
#box:hover {
  width: 500px;
}
#box:hover + #box2{
  width: 500px;
 
}