a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}
h1 {
  color: rgb(0, 34, 13);
  font-style: helvetica;
}
h2,
h3 {
  color: rgb(69, 32, 85);
  font-family: Goldman;
}
#greet {
  font-size: 4em;
  color: aliceblue;
}

#name {
  font-size: 3em;
  color: aliceblue;
}
p {
  font-size: 2em;
  color: beige;
}

li {
  font-size: 2em;
}

#container {
  margin: 205px;
}
.button {
  padding: 7px 15px;
  border-radius: 10%;
  transition-duration: 0.4s;
  cursor: pointer;
}
table {
  margin-bottom: 20px;
}
#div1 {
  text-align: center;
}
#div2 {
  text-align: center;
}
#div3 {
  background-color: wheat;
  text-align: center;
}
#div4 {
  background-color: oldlace;
  text-align: center;
}
#div1,
#div3,
#div4 {
  border: 1px dotted;
}
#movie {
  font-size: 3em;
}
#head1 {
  font-size: 3em;
}
form {
  background-color: oldlace;
  font-style: italic;
  border-style: dotted;
  font-weight: 900px;
}
input[type='button'] {
  color: rgb(255, 255, 255);
  background-color: rgb(5, 107, 196);
  padding: 5px;
  border-radius: 7px;
  font-style: normal;
}
input[type='text']:focus {
  background-color: rgb(233, 245, 255);
  color: beige;
  width: 50%;
  transition: 2s;
}
#bg-sub {
  transition: 0.4s;
  width: 50%;
}
#bg-sub:hover {
  color: aliceblue;
  background-color: green;
}
#main {
  max-width: 100vw;
  margin: 0 auto;
  margin-top: -100px;
}

table {
  display: inline-table;
}
ul {
  list-style-type: none;
}
p {
  display: inline-block;
  width: 50%;
}
#vid {
  max-width: 100%;
  max-height: 100%;
}
#div21 {
  text-align: center;
  position: absolute;
  top: 10em;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 18em;
}
#myPhoto {
  position: fixed;
  bottom: 30px;
  right: -2em;
}
@media only screen and (max-width: 320px) {
  nav {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
  }
  body {
    width: 320px;
  }
  #div21 {
    text-align: center;
    position: absolute;
    top: 20em;
    background: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    font-size: 0.2em;
  }
  #myPhoto {
    position: fixed;
    bottom: 30px;
    right: 1em;
  }
}
